doctype html
mixin item(title, url)
  li
    a(href=url class=path == url ? 'item active' : 'item')=title
    

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      +item('Strona główna', '/')
      +item('Aktualności', '/news')
      +item('Quiz', '/quiz')
      +item('Admin', '/admin')
     
    block content
