extends layout

block content
  h1= title
  if show
    form(method='post')
      p Jaki jest Twój ulubiony język programowania?
      ul
        each item in data
          li 
            label=item.title
            input(type='radio' name='quiz' value=item._id)
      input(type='submit' value='Zagłosuj')
      p Aby zobaczyć wyniki oddaj głos
  else
    h1 Zagłosowano
    p Wyniki
    ul
      each item in data
        li #{item.title} głosów: #{item.vote}(#{Math.round(item.vote/sum*100)}%)
    p Głosów oddano: #{sum}